<!--
    ALL UI, STYLING, and JS by: @mikedevelops
 -->



<html>

<header>
    <link href="../static/css/main.css" rel="stylesheet" />
</header>

<body>
    <div class="body">
    	<h1>Copy, Paste, and Submit Text <br> Evaluate its toxicity</h1>
        <br>
        <br>
        <form action="/fetch_toxicity">
        	<div class="wrapper">
        		<input class="search" type="text" id="textBox" name="userText"/>
        		<input class="submit" type="submit" value="ENTER"/>
        	</div>
        </form>

    </div>

    <h1>TOXCITY: {INSERT TOXICITY SCORE}</h1>

    <!-- <script type="text/javascript" src="../js/script.js"></script> -->


    <script type="text/javascript">
          const button = document.getElementById("textBox")

          
    </script>
</body>


</html>
